body {
    text-align: center;
    
}
#dieroll {
    font-size: 50px;
    width: 75px;
    height: 75px;    
    border: 1px solid #999;
    display: inline-block;
    border-radius: 5px;
    margin: 30px auto;  

}

.cont {
    position: relative;
    margin: 20px;
    width: 200px;
    height: 200px; 
    display: inline-block;
    text-align: center;
  }
  
.progress {
    position: absolute;
    text-align: center;
    width: 200px;
    font-size: 90px;
    margin-top: 30px;
    font-weight: bold;
    color: #3a3737;
    }

#partial {
    height: 120px;
}

.dot {
    width: 50px;
        
}


